**/node_modules
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
**/.idea
**/target

.dockerignore
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.vscode
Dockerfile
Dockerfile.archive
Dockerfile.prebuilt
docker-compose.yml
renovate.json

*.md
